body {
    position: relative;
    background-color: black;
}

.tag {
    color: whitesmoke;
}

.btnBox {
    position: fixed;
    top: 0;
    right: 0;
}

.box {
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: 1px solid black;
}

.box.special {
    background-color: coral;
}
